[submodule "pack/go/start/vim-gitgutter"]
	path = pack/go/opt/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "pack/go/start/youcompleteme"]
	path = pack/go/opt/youcompleteme
	url = https://github.com/valloric/youcompleteme
[submodule "pack/go/start/vim-tmux-navigator"]
	path = pack/go/opt/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "pack/go/start/typescript-vim"]
	path = pack/go/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "pack/go/start/vmux"]
	path = pack/go/opt/vmux
	url = https://github.com/ivanbrennan/vmux.git
[submodule "pack/go/opt/vim-numbertoggle"]
	path = pack/go/opt/vim-numbertoggle
	url = https://github.com/jeffkreeftmeijer/vim-numbertoggle.git
[submodule "pack/go/opt/lightline.vim"]
	path = pack/go/opt/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "pack/go/opt/vim-commentary"]
	path = pack/go/opt/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "pack/go/start/vim-javascript"]
	path = pack/go/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "pack/go/start/vim-jsx"]
	path = pack/go/opt/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "pack/go/opt/vim-vue"]
	path = pack/go/opt/vim-vue
	url = https://github.com/posva/vim-vue.git
[submodule "pack/go/opt/vim-go"]
	path = pack/go/opt/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "pack/go/start/ZoomWin"]
	path = pack/go/start/ZoomWin
	url = https://github.com/regedarek/ZoomWin
[submodule "pack/go/opt/fzf.vim"]
	path = pack/go/opt/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "pack/go/start/vim-eunuch"]
	path = pack/go/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "pack/go/opt/closetag.vim"]
	path = pack/go/opt/closetag.vim
	url = https://github.com/docunext/closetag.vim
[submodule "pack/go/start/unite.vim"]
	path = pack/go/start/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule "pack/go/start/vimfiler.vim"]
	path = pack/go/start/vimfiler.vim
	url = https://github.com/Shougo/vimfiler.vim.git
[submodule "pack/go/opt/vim-fugitive"]
	path = pack/go/opt/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
