[submodule "pack/go/start/nerdtree"]
	path = pack/go/opt/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "pack/go/start/vim-gitgutter"]
	path = pack/go/opt/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "pack/go/start/youcompleteme"]
	path = pack/go/opt/youcompleteme
	url = https://github.com/valloric/youcompleteme
[submodule "pack/go/start/nerdtree-git-plugin"]
	path = pack/go/opt/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "pack/go/start/vim-tmux-navigator"]
	path = pack/go/opt/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "pack/go/start/typescript-vim"]
	path = pack/go/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "pack/go/start/vmux"]
	path = pack/go/opt/vmux
	url = https://github.com/ivanbrennan/vmux.git
[submodule "pack/go/opt/vim-numbertoggle"]
	path = pack/go/opt/vim-numbertoggle
	url = https://github.com/jeffkreeftmeijer/vim-numbertoggle.git
[submodule "pack/go/opt/lightline.vim"]
	path = pack/go/opt/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "pack/go/opt/ctrlp.vim"]
	path = pack/go/opt/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "pack/go/opt/vim-commentary"]
	path = pack/go/opt/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "pack/go/start/vim-javascript"]
	path = pack/go/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "pack/go/start/vim-jsx"]
	path = pack/go/start/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
